img {
	width: 400px;
	height: 400px;
}
body {
	text-align: center;
	margin: 0;
	padding: 0;
}
.change {
	color: salmon;
	font-family: sans-serif;
	font-size: 56px;

}
.this {
	color: red;
	font-size: 40px;
}
.purplebox {
	width: 100px;
	height: 100px;
	background-color: pink;
}